/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

body{
    background-color: rgb(255 255 255);
}

div.container, div.home-container {
    max-width: 60rem;
    margin: auto;
    padding: 0 1rem;
}

h1{
    width: 12em;
    margin: 1rem 0 1rem 0;
}

h2{
    font-family: "roca", sans-serif;
    font-weight: 700;
    font-style: normal;
}

ul li a{
    text-decoration: none;
    color: rgb(148 156 100);
    font-family: "roca", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

nav ul{
    list-style-type: none;
    margin: 0 0 1rem 0.5rem;
}

footer{
    width: 100%;
    background-color: rgb(148 156 100);
    color: rgb(241 241 241);
    padding: 0.75rem;
    font-family: sans-serif;
    box-sizing: border-box;
}

section a{
    text-decoration: none;
    color: rgb(14 42 65);
}

section.first h2{
    font-size: 2.8rem;
    color: rgb(129 164 194);
    margin: 0.5rem 0 0 0.5rem;
}

section p{
    margin: 0 0.5rem 0.5rem 0.5rem;
    font-family: "omnes-pro", sans-serif;
    font-weight: 350;
    font-style: normal;
    color: rgb(14 42 65);
}

section.secondary h2{
    font-size: 1.5rem;
    color: rgb(129, 164, 194);
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

section.tertiary h2{
    color: rgb(129 164 194);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 0.5rem;
    border-top: 2px dashed rgb(14 42 65);
    
}

article h2{
    color: rgb(129, 164, 194);
    font-size: 2.8rem;
    margin: 0.5rem 0 0 0.5rem;
}

figcaption{
    color: rgb(14 43 65);
    font-family: "omnes-pro", sans-serif;
    font-weight: 350;
    font-style: italic;
    margin: 0.5rem 0.5rem 2rem 0.5rem;
}

article p{
    font-family: "omnes-pro", sans-serif;
    font-weight: 350;
    font-style: normal;
    color: rgb(14 42 65);
    margin: 1rem 0.5rem 1rem 0.5rem;
}

aside{
    background-color:rgb(241 231 208);
    padding: 1rem 0.5rem 0.5rem 0.5rem;
}

aside section.secondary h2{
    font-size: 1.25rem;
    font-weight: bold;
}

footer p{
    margin-left: 0.5rem;
}


@media screen and (min-width: 60em) {
    nav ul li{
        display: inline;
        padding-right: 1.5rem;
    }

    div.container{
        margin:auto;
        max-width: 60em;
        padding: 0 1rem;
    }

    h1{
        margin-left: 0rem;
    }

    nav ul{
        margin-left: 0rem;
    }   

    footer{
        padding-left: 0rem;
    }

    section.secondary h2{
        margin-left: 0rem;
    }

    section p{
        margin-left: 0rem;
    }

    figcaption{
        margin-left: 0rem;
    }

    article h2{
        margin-left: 0rem;
    }
  
    article p{
        margin-left: 0rem;
    }

    section.tertiary h2{
        margin-left: 0rem;
        margin-right: 0rem;
    }

    section.first h2{
        margin-left: 0rem;
    }
}

@media only screen and (min-width: 60em) {
    div.home-container{
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container{
        max-width: 60em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    header, footer{
        grid-column:1/3;
    }

    div.home-container main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside{
        background:none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside{
        margin-top: 0;
    }

    section.first {
        grid-column: 2/4;
        grid-row:1/3;
        display: flex;
    }

    section.first a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.first a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.first a figure img{
        object-fit: cover;
    }

    section.first a h2{
        flex: 0 0 1em;
    }

    section.first a p{
        flex: 0 0 4em;
    }

    section.secondary {
        display: flex;
    }

    section.secondary a{
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure{
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary a figure img{
        object-fit: cover;
    }
    
    section.secondary a h2{
        flex: 0 0 1em;
    }

    section.secondary a p{
        flex: 0 0 4em;
    }
}